<!doctype html>
<html>
  <head>
    {% include analytics.html %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{{ page.title }}</title>
    {% if page.image %}
	<meta property="og:image" content="{{page.image}}">
    {% else %}
	<meta property="og:image" content="{{site.logo}}">
    {% endif %}
    <link rel="stylesheet" href="/assets/css/retro.css">
    {% feed_meta %}
     <!-- Web Application Manifest -->
	<link rel="manifest" href="manifest.webmanifest">
	
	<!-- Add to homescreen for Chrome on Android -->
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="application-name" content="XinYaanZyoy">
	<meta name="theme-color" content="grey">
	
	<!-- Add to homescreen for Safari on iOS -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="apple-mobile-web-app-title" content="XinYaanZyoy">
	<meta name="apple-mobile-web-app-status-bar-style" content="grey">
	
	<!-- Tile icon for Win8 -->
	<meta name="msapplication-TileColor" content="grey">
	<meta name="msapplication-navbutton-color" content="grey">
    {% seo %}
    {% include adsense.html %}
  	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  </head>
  <body>
	  <div style="color: red; fonst-family: consolas, monospace; font-size: 12px;">
		  <code>
		  	{{ site.url }} | last updated on <i>Sat Aug  1 03:37:07 UTC 2020</i> | alive since SEP 02 2k19 10:56 PM GMT+5:30.
		  </code>
	   </div>
    {% include navigation.html %}
    <hr>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    <hr>
	  <div style="color: green; fonst-family: consolas, monospace">
                <span><strong> XinYaanZyoy | XinYaanZyoy@gmail.com </strong></span>
                <span>, Copyright © 2019 - <script>document.write(new Date().getFullYear())</script>. No Rights Reserved. Except where otherwise noted, All The PDFs and Videos are licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a></span>
          </div>
  </body>
</html>
