<!doctype html>
<html>
  <head>
	  
{% if page.standalone == false %}
	  
    {% include analytics.html %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{{ page.title }}</title>  
    {% if page.image %}
	<meta property="og:image" content="{{page.image}}">
    {% else %}
	<meta property="og:image" content="{{site.logo}}">
    {% endif %}
    
    <link rel="stylesheet" href="/assets/css/retro.css">
    
    {% feed_meta %}
     <!-- Web Application Manifest -->
	<link rel="manifest" href="manifest.webmanifest">

{% endif %}

<script>

    function listEntries(data){
    	arr = JSON.parse(data).feed.entry;
		div = document.getElementById("reslist");
        for(let i=3; i<=arr.length; i++){
			if(arr[i]["gs$cell"]["col"] == "{{page.column}}"){
				text = arr[i]["gs$cell"]["$t"];
				author = arr[i+1]["gs$cell"]["$t"];
				p = document.createElement("p");
				txt = document.createTextNode("\""+text+"\""+" - "+author);
				p.appendChild(txt);
				div.appendChild(p);
				console.log(text, author);
			}
	    }
    }
	     
	var xmlHttp = new XMLHttpRequest();
	xmlHttp.onreadystatechange = function() { 
    		if (xmlHttp.readyState == 4 && xmlHttp.status == 200){
        		text = xmlHttp.responseText.substring(28);
        		listEntries(text.substring(0, text.length-2));
		}
	}
	
	xmlHttp.open("GET", "https://spreadsheets.google.com/feeds/cells/{{page.gSheetID}}/1/public/values?alt=json-in-script&callback=listEntries", true); 
	xmlHttp.send(null);

	function reverseChildren(parent) {
		for (var i = 1; i < parent.childNodes.length; i++){
			parent.insertBefore(parent.childNodes[i], parent.firstChild);
		}
	}

	window.onload = function() {
		reverseChildren(document.getElementById("reslist"));
	};
</script>
   
{% if page.standalone == false %}
	  
	<!-- Add to homescreen for Chrome on Android -->
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="application-name" content="XinYaanZyoy">
	<meta name="theme-color" content="grey">
	
	<!-- Add to homescreen for Safari on iOS -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="apple-mobile-web-app-title" content="XinYaanZyoy">
	<meta name="apple-mobile-web-app-status-bar-style" content="grey">
	
	<!-- Tile icon for Win8 -->
	<meta name="msapplication-TileColor" content="grey">
	<meta name="msapplication-navbutton-color" content="grey">
    {% seo %}
    {% include adsense.html %}
{% endif %}
  	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  </head>
  <body>
	  {% include header.html %}
	  <hr>
{% if page.standalone == false %}
    {% include navigation.html %}
{% endif %}
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
		  {{ content }}
		  <hr/>
		  <div id="reslist"></div>
      </div>
    </main>
	  <hr>
	  {% include footer.html %}
  </body>
</html>
